.rotate-handle-holder {
  border-left: 1px solid black;
  width: 1px;
  height: 20px;
  position: absolute;
  top: -20px;
  margin-left: 50%;

  .rotate-handle {
    position: absolute;
    width: 14px;
    height: 14px;
    top: -15px;
    left: -8px;
    cursor: pointer;
    border: 1px solid black;
  }
}
